USE [master]
GO
/****** Object:  Database [InsanKaynaklarıYönetimSistemi]    Script Date: 7.10.2026 22:21:44 ******/
CREATE DATABASE [InsanKaynaklarıYönetimSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsanKaynaklarıYönetimSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InsanKaynaklarıYönetimSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InsanKaynaklarıYönetimSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InsanKaynaklarıYönetimSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsanKaynaklarıYönetimSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsanKaynaklarıYönetimSistemi]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_EmeklilikSayaci]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_EmeklilikSayaci](@IseGirisTarihi DATE)
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @GecenGun INT;
    DECLARE @GerekenGun INT = 9125; -- (25 Yıl x 365 Gün = Standart Emeklilik Süresi)
    DECLARE @KalanGun INT;
    DECLARE @Sonuc NVARCHAR(100);

    -- Bugüne kadar kaç gün çalışmış?
    SET @GecenGun = DATEDIFF(DAY, @IseGirisTarihi, GETDATE());

    -- Kaç günü kalmış?
    SET @KalanGun = @GerekenGun - @GecenGun;

    -- Eğer süre dolduysa (Negatife düştüyse) "Emekli Olabilir" yaz
    IF @KalanGun <= 0
        SET @Sonuc = 'EMEKLİLİĞİ GELMİŞ! (+ ' + CAST(ABS(@KalanGun) AS NVARCHAR(10)) + ' gün fazlası var)';
    ELSE
        SET @Sonuc = 'Emekliliğe ' + CAST(@KalanGun AS NVARCHAR(10)) + ' gün kaldı.';

    RETURN @Sonuc;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KidemYazisi]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Önce eskisini güncellemek için ALTER kullanıyoruz
CREATE FUNCTION [dbo].[Fn_KidemYazisi](@IseGirisTarihi DATE)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @ToplamAy INT;
    DECLARE @Yil INT;
    DECLARE @Ay INT;
    DECLARE @Sonuc NVARCHAR(50);

    -- 1. İki tarih arasındaki TOPLAM AY sayısını bul
    SET @ToplamAy = DATEDIFF(MONTH, @IseGirisTarihi, GETDATE());

    -- Eğer giriş günü, bugünün gününden büyükse (henüz ay dolmamışsa) 1 ay düş
    IF DAY(@IseGirisTarihi) > DAY(GETDATE())
    BEGIN
        SET @ToplamAy = @ToplamAy - 1;
    END

    -- 2. Yılı Hesapla (Toplam Ay / 12) -> Tam sayı kısmını alır
    SET @Yil = @ToplamAy / 12;

    -- 3. Kalan Ayı Hesapla (Toplam Ay % 12) -> Modülo işlemi
    SET @Ay = @ToplamAy % 12;

    -- Hata Kontrolü
    IF @IseGirisTarihi > GETDATE()
        RETURN 'Henüz Başlamadı';

    -- Sonucu Birleştir
    SET @Sonuc = CAST(@Yil AS NVARCHAR(10)) + ' Yıl ' + CAST(@Ay AS NVARCHAR(10)) + ' Ay';

    RETURN @Sonuc;
END;
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TCNO] [char](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefon] [char](11) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[İseGirisTarihi] [date] NOT NULL,
	[Maas] [decimal](18, 2) NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
	[DepartmanId] [int] NULL,
	[UnvanId] [int] NULL,
	[KanGrubuId] [int] NOT NULL,
	[EgitimSeviyeId] [int] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Personeller] UNIQUE NONCLUSTERED 
(
	[TCNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmanlar]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmanlar](
	[ıd] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAdı] [nvarchar](100) NOT NULL,
	[SubeId] [int] NOT NULL,
 CONSTRAINT [PK_Departmanlar] PRIMARY KEY CLUSTERED 
(
	[ıd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DepartmanMalıyet]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DepartmanMalıyet] AS
SELECT 
    d.DepartmanAdı,
    COUNT(p.Id) AS CalisanSayisi,
    SUM(p.Maas) AS AylikToplamMaasYuku,
    SUM(p.Maas) * 12 AS YillikTahminiMaliyet, -- Hocaya bunu vurgula!
    AVG(p.Maas) AS OrtalamaPersonelMaasi
FROM Personeller p
INNER JOIN Departmanlar d ON p.DepartmanID = d.Id
GROUP BY d.DepartmanAdı;
GO
/****** Object:  Table [dbo].[PersonelEgitim]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelEgitim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelId] [int] NULL,
	[EgitimId] [int] NULL,
	[BaslamaTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgitimKategorileri]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgitimKategorileri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdı] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_EgitimKategorileri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Egitimler]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egitimler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EgitimAdı] [nvarchar](150) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[SureSaat] [int] NOT NULL,
 CONSTRAINT [PK_Egitimler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PersonelEgitimListesi]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_PersonelEgitimListesi] AS
SELECT 
    p.Ad + ' ' + p.Soyad AS Personel,
    d.DepartmanAdı,
    k.KategoriAdı AS EgitimKategorisi, -- "Teknik", "Liderlik" vs.
    e.EgitimAdı,                       -- "İleri C#", "Takım Yönetimi" vs.
    pe.BaslamaTarihi,
    pe.BitisTarihi,
    DATEDIFF(DAY, pe.BaslamaTarihi, pe.BitisTarihi) AS EgitimSuresiGun -- Basit bir gün farkı gösterimi (Hesaplama değil, gösterim)
FROM PersonelEgitim pe
INNER JOIN Personeller p ON pe.PersonelId = p.Id
INNER JOIN Departmanlar d ON p.DepartmanID = d.Id
INNER JOIN Egitimler e ON pe.EgitimId = e.Id
INNER JOIN EgitimKategorileri k ON e.KategoriId = k.Id;
GO
/****** Object:  Table [dbo].[EgitimSeviyeleri]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgitimSeviyeleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeviyeAdı] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EgitimSeviyeleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IzınTürleri]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzınTürleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IzınAdı] [nvarchar](100) NOT NULL,
	[Acıklama] [nvarchar](100) NULL,
 CONSTRAINT [PK_IzınTürleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KanGruplari]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KanGruplari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KanGrubuAdı] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_KanGruplari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaasOdemeleri]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaasOdemeleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelId] [int] NOT NULL,
	[OdemeTarihi] [date] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Acıklama] [nvarchar](50) NULL,
 CONSTRAINT [PK_MaasOdemeleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelIzınleri]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelIzınleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelId] [int] NOT NULL,
	[IzınTurId] [int] NOT NULL,
	[BaslangıcTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[GunSayısı] [tinyint] NULL,
	[OnayDurumu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PersonelIzınleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlakaKodu] [char](2) NOT NULL,
	[SehirAdı] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sehirler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subeler]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subeler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubeAdı] [nvarchar](100) NOT NULL,
	[SehirId] [int] NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Subeler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvanlar]    Script Date: 7.10.2026 22:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnvanAdı] [nvarchar](50) NOT NULL,
	[MinMaas] [decimal](18, 2) NOT NULL,
	[MaxMaas] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Unvanlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personeller_1]    Script Date: 7.10.2026 22:21:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Personeller_1] ON [dbo].[Personeller]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Sehirler]    Script Date: 7.10.2026 22:21:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Sehirler] ON [dbo].[Sehirler]
(
	[PlakaKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departmanlar]  WITH CHECK ADD  CONSTRAINT [FK_Departmanlar_Subeler] FOREIGN KEY([SubeId])
REFERENCES [dbo].[Subeler] ([ID])
GO
ALTER TABLE [dbo].[Departmanlar] CHECK CONSTRAINT [FK_Departmanlar_Subeler]
GO
ALTER TABLE [dbo].[Egitimler]  WITH CHECK ADD  CONSTRAINT [FK_Egitimler_EgitimKategorileri] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[EgitimKategorileri] ([Id])
GO
ALTER TABLE [dbo].[Egitimler] CHECK CONSTRAINT [FK_Egitimler_EgitimKategorileri]
GO
ALTER TABLE [dbo].[MaasOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_MaasOdemeleri_Personeller] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personeller] ([Id])
GO
ALTER TABLE [dbo].[MaasOdemeleri] CHECK CONSTRAINT [FK_MaasOdemeleri_Personeller]
GO
ALTER TABLE [dbo].[PersonelEgitim]  WITH CHECK ADD FOREIGN KEY([EgitimId])
REFERENCES [dbo].[Egitimler] ([Id])
GO
ALTER TABLE [dbo].[PersonelEgitim]  WITH CHECK ADD FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personeller] ([Id])
GO
ALTER TABLE [dbo].[PersonelIzınleri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelIzınleri_IzınTürleri] FOREIGN KEY([IzınTurId])
REFERENCES [dbo].[IzınTürleri] ([Id])
GO
ALTER TABLE [dbo].[PersonelIzınleri] CHECK CONSTRAINT [FK_PersonelIzınleri_IzınTürleri]
GO
ALTER TABLE [dbo].[PersonelIzınleri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelIzınleri_Personeller] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personeller] ([Id])
GO
ALTER TABLE [dbo].[PersonelIzınleri] CHECK CONSTRAINT [FK_PersonelIzınleri_Personeller]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Departmanlar] FOREIGN KEY([DepartmanId])
REFERENCES [dbo].[Departmanlar] ([ıd])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Departmanlar]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_EgitimSeviyeleri] FOREIGN KEY([EgitimSeviyeId])
REFERENCES [dbo].[EgitimSeviyeleri] ([Id])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_EgitimSeviyeleri]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_KanGruplari] FOREIGN KEY([KanGrubuId])
REFERENCES [dbo].[KanGruplari] ([Id])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_KanGruplari]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Unvanlar] FOREIGN KEY([UnvanId])
REFERENCES [dbo].[Unvanlar] ([Id])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Unvanlar]
GO
ALTER TABLE [dbo].[Subeler]  WITH CHECK ADD  CONSTRAINT [FK_Subeler_Sehirler] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehirler] ([Id])
GO
ALTER TABLE [dbo].[Subeler] CHECK CONSTRAINT [FK_Subeler_Sehirler]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller] CHECK  ((NOT [Ad] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller_1] CHECK  ((NOT [Telefon] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller_1]
GO
USE [master]
GO
